# Flutter
.build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.log

# IntelliJ / VSCode
.idea/
.vscode/

# Flutter specific
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/Flutter.podspec

# Node (don’t upload node_modules)
node_modules/
